<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title> Начало пути </title>
    <link rel="stylesheet" th:href="@{../style/style.css}">
</head>
<body>
<div class="header">
    <h1> Что нужно знать для того чтобы стать программистом </h1>
    <div class="header_content">
        <p>Тут описывается что нужно знать для того чтобы стать программистом и с чего начать.
            <br>
            Наверное эот самый задаваемый вопрос когда хочешь попробовать себя как программист и многие люди не всегда понимают что делать дальше.
            <br>
            Давайте разбираться:
        </p>
    </div>
</div>
<div >
    <ol>
        <li>Кто такой программист и что он делает?</li>
        <li>С чего начать обучение и какой нужно пройти путь </li>
        <li> Каким программистом стать </li>
        <li> Что нужно сделать что бы стать хорошим программистом</li>
    </ol>
    <p>
        1. Программист это тот человек который решает разного рода логические задачи для того чтобы написать программу как она будет работать
    какими функциями будет обладать какой у нее будет вид чтобы пользователь которые может и не уметь пользоваться компьютером но мог что то делать
    пример в данном случе очень много это сотовые телефоны или просмотр видео роликов или фильмов через интернет. Когда вы пользуетесь по интернету
    вам достаточно нажать одну кнопку чтобы получить желаемое но за этой кнопкой могут скрываться очень много функции который программист автоматизировал для вас
    и сделал удобным в использовании. Если разобраться к примеру в работе Youtube.com то вы заходите на сайт и видите сразу список видео роликов который сформирован для вас.
        И нажав на конкретный видео ролик вам он воспроизводится, но вы не замечали что если вы просмотрели этот ролик то он сохраняется в списках просмотренных
        или если вы его просмотрели не до конца то при повторном просмотре вам воспроизводится с того момента откуда вы прекратили просмотр ранее а так же
        в низу ролика находится счетчик количества просмотров который постоянно меняется стоит вам начать просмотр. Все эти функции программист вложил в одну кнопку,
        что бы было удобно вам и тем людям которые пользуются ресурсом Youtube.com. Понимаю что обьяснение может быть еще немного не понятным давайте теперь рассмотрим
        более упрощенный вариант. К примеру вы находитесь в кафе и заказали чай и официант вам его принес вроде бы ничего сложного.
        Но тут скрыта целая цепочка процессов, где повар  взял заварку, вскипятил воду, засыпал заварку в чайник, залил заварку кипятком
         и как заварка заварилась официант вам ее принес. В данном примере официант это наша кнопка которая выполнила функцию принести чай а повар это программа
        которая все автоматизировала а наш программист это администратор данного кафе который следит чтобы все исправно работало.
        И если повар не умеет к примеру готовить то администратор ищет людей которые научат повара готовить наш чай или сам его учит, так же
         администратор дает повару кухню, где тот может готовить, дает форму чтобы повару было удобно готовить, и снабжает всем что нужно повару для полноценного функционирования.
    </p>
    <p>
        2. Начать обучение нужно с понимания что такое алгоритмы так как это первое что использует программист какие алгоритмы бывают.
        На данном этапе особо углубляться в данную тематику не нужно  достаточно понять всего три вида алгоритмов это 1) Линейный алгоритм,
         2) Ветвистый алгоритм и 3) Циклический алгоритм.
        Так же программисту нужно уметь искать информацию а это значит умение пользоваться поисковыми системами для быстрого поиска сортировки и усваивания полученной информации.
        <br>
        Давайте наверное с этого и начнем. Попробуйте найти информацию по алгоритмам и их структурам а так же разобраться в этих трех алгоритмах (Наверное назовем это первым домашним заданием).
        Ниже я буду указывать ответы на домашние задания но их смотрите только после того как что то делали сами. (Подсказки будут скрыты под ни большими играми для развития логики!)
    </p>
    <a href="game/shepherd_game">Подсказка Что такое алгоритм.</a>
</div>
</body>
</html>