<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title> Начало пути </title>
    <link rel="stylesheet" th:href="@{style/style.css}">
</head>
<body>
<div class="header">
    <h1> Что нужно знать для того чтобы стать программистом </h1>
    <div class="header_content">
        <p>Тут описывается что нужно знать для того чтобы стать программистом и с чего начать.
            <br>
            Наверное эот самый задаваемый вопрос когда хочешь попробовать себя как программист и многие люди не всегда понимают что делать дальше.
            <br>
            Давайте разбираться:
        </p>
    </div>
</div>
<div class="content">
    <ol>
        <li>
            <h2>Кто такой программист и что он делает</h2>
            <p>Все мы знаем что программист это человек который пишет программы но что это значит и какие программы он пишет.
                Если брать по категориям то программы могут быть разными. Начиная от простого калькулятора до обширных игр или корпорационных программ или социальных сетей.
                <br>
                Но нигде так и не сказано что это значит и что такое программа. В итоге в поиске информации можно немного запутаться и вы в основном найдете классификацию программистов.
                <br>
                Короче:
                <br>
                Программист это тот человек который учит думать компьютер находит логические связные для работы программы (как пример Что должно произойти если нажать на ту или иную кнопку)
                <br>
                В итоге Чаще всего программист должен находить ответы на те или иные вопросы которая ставит его программа чтобы она работала. В этом программисту помогают многие приемы в программировании.
                Как итог программист это тот человек который находит ответ на решение тех или иных проблем а после создает автоматизацию при помощи программного кода что бы это было удобно для пользователя.
                <br>
                Давайте попробуем это понять на примере:
                <br>
                Вы хотите попить чай, в данном случае программист предоставляет вам возможность просто взять и налить этот напиток из чайника. Но По сути за этим действием происходит целая цепочка процессов.
                И что бы ее понять дайте посмотрим что нужно для того чтобы налить чай, Это нужно сходить в магазин купить заварку прийти домой наполнить чайник водой его вскипятить и после туда
                засыпать заварку, подождать 5 минут пока заварка заварится и только после этого налить чай в кружку. Что то примерно делает программист он за вас ходит в магазин и покупает заварку а после ее заваривает
                После чего вы просто можете прийти на кухню и налить чай в свою кружку.
                <br>
                Если еще проще описать то что делает программист то получается так - Программист это тот человек который создает автоматизацию рутинной работы через программный код.
                <br>
                Поскольку мы разобрались с тем что делает программист давайте теперь немного разберемся с тем что может программист.
                <br>
                Программист может писать игры, программы для учета или подсчета чего либо, операционную систему для разной аппаратуры (Сковородки, мультиварки, плееры и т.д.),
                может создавать искусственный интеллект или логические действия для роботов или домашней техники к примеру робот пылесос который запоминает карту вашего дома и убирай в заданное время,
                или если в доме очень жарко включается кондиционер.
                <br>
                Программист создает логику действия для всего с чем может взаимодействовать при помощи кода или функций.
            </p>
        </li>
        <br>
        <li>
            <h2>Что нужно для работы </h2>
            <p>
                В первую очередь наверное нужно понимать что такое алгоритм действий.
                <br>
            <h3> Алгоритм это последовательность действий которые ведут к конечному результату.</h3>
            <br>
            Алгоритмов много но для начала нам нужны всего три их вида благодаря которым мы и сможем начать.
            <br>
            <h5> 1) Линейный алгоритм это однократное последовательное исполнение действий </h5>
            <img src="./media/img/slide-1.jpg" alt="Пример линейного алгоритма">
            <br>
            <h5> 2) Ветвистый алгоритм это алгоритмы, имеющие несколько альтернативных путей, выбор которых зависит от выполнения некоторых условий. </h5>
            <img src="./media/img/img12.jpg" alt="Пример ветвистого алгоритма">
            <br>
            <h5> 2) Циклические алгоритмы это алгоритмы, в которых некоторая часть операций повторяется многократно.</h5>
            <img src="./media/img/img13.jpg" alt="Пример ветвистого алгоритма">

            <br>
            Понимание как работают Алгоритмы очень важно!!! По этому попробуйте написать на листочке бумаги пример алгоритма из жизни.
            <br>
            Пример:
            <br>
            Проснутся -> заправить постель -> одеться -> выпить кофе -> выйти на работу или учебу.
            <br>
            Попробуйте написать пример для всех видов алгоритмов.
            </p>
        </li>

        <li>
            <h3> Четкое понимание для чего вы хотите стать программистом.</h3>
            <br>
            <p>
            Это наверное один из самых важных пунктов так как что вы хотите писать и чем заниматься это самый главный вопрос.
            Так как Языков программирования очень разные и предназначены для разных целей и это может привести к тому что выучив один язык,
            может оказаться так что на нем вы либо не сможете реализовать то для чего вы учили язык либо он окажется не тем языком который сможет это реализовать.
            <br>
            Для этого нужно понимать на каком языке то пишут давайте разберемся. Данную информацию вы сможете найти и на ютубе и разные отзывы о языках помогут вам понять что именно вам нужно.
            Как примеры попробую описать на каких языках что пишут их минусы и плюсы <span class="annotation">(В данной тематике
            могу ошибатся не судите строго так как это мое личное представление которое может изменится в углублении понимания других языков)</span>
            и так:
            <br>
            1) Java -  это мой основной язык который я учил по курсам по программирования и на данном языке написан данный сайт.
            О Java могу сказать следующее. Java это язык программирования который адаптирован по любое устройство на котором можно запустить виртуальную машину Java.
            Изначально данный язык разрабатывался для таких целей чтобы его можно было запустить на любой сковородке или мультиварке именно по этой причине он так хорошо и пошел  в качестве
            основного языка для смартфонов и телефонов на этом языке запускали спутники к луне вроде был один случай была написана операционная программа, на данном языке пишут
            приложения для плееров, то есть этот язык или программы написаны на этом языке можно запустить почти на любом устройстве он легко к нему адаптируется.
            Но из за этого он очень требователен к ресурсам вычислительной техники так как ему для работы нужно запустить много чего и достаточно большие программы написанные на этом языке могут требовать в 10 раз больше
            ресурсов по сравнению с другими языками программирования. Так же к плюсам могу добавить то что он один из самых легких зыков которые стоит начать учить он достаточно дружелюбен к студентам правда частенько приходится
            поднапрячься для того чтобы его понять. Из игр на нем написана игра Minecraft так же на данном языке пишут логику работы серверов некоторых игр как пример Skyforge сам клиент который запускает пользователь работает
            на языке C++ но сервер работает на Java. В плане защищенности наверное он один из лучших поскольку взломать его сложно или сервера которые на нем работают. В основном на нем работают банки или службы по онлайн оплате.
            Да и в целом любой бизцес проект больше предпочтения отдают Java приложениям в силу их защищенности.
            <br>
            2) Python - это наверное самый легкий язык программирования с него в основном советуют и начать.
            <br>
            Питон изначально был придуман для работы с серверами а так же как первый язык для изучения и введения в программирование.
            на данном языке вы практически сразу сможете написать первого бота или серверное приложение, короче на нем вы почти сразу сможете увидеть результат своих трудов и воображения.
            Но как и у всех языков и у него есть свои минусы. В первую очередь наверное даже нельзя назвать это минусом но он является скриптовым, он слабо защищен для внешних атак или воздействия.
            он имеет динамическую типизацию данных то есть в нем переменная может быть и словом и массивом данных или числом что на первых парах может или запутать или не дать понимания в каких то нюансах в будущем
            Данный язык можно учить на любом компьютере так как он не сильно требователен к железу.
            <br>
             На этом языке пишут в основном сайты и серверные приложения для работы соц сетей или локальных сетей мессенджеры  и все что помогает быстро обмениваться информацией.
                Управление службами или сервера дял игр. Про данный язык могу это все скзать так как общался с людьми которые программировали на нем и мы обсуждали где у кого что да как. Так что информация о общих чертах может быть и ошибочной.

                <br>
             3) С# - это язык программирования в принципе он такой же как и Java но ориентирован в основном на операционную систему Windows так как разработкой занималась компания Micrasoft и ориентирован язык
                под них. На данном языке вы быстро сможете написать любую 2D игру или приложение под операционную систему Windows. На данном языке сейчас развивается написание игр так как
                один из игровых движков работает на нем. если хотите писать игры то данный язык для вас. Так же с данным языком в основном работают банковские службы или муниципальные такие как государственная служба регистрации граждан.
                насчет минусов толком ничего не скажу так как я их просто не знаю потому как толком с данным языком я не работал.

                <br>
                4) Наверное последнее что могу назвать пока что это верстка или Frontend это совокупность языков HTML CSS и JavaScript.
                Про верстку сложно сказать как об языках программирования но тема тем не менее важная  на данных языка создают сайты и страницы для сайтов.
                это наверное единственная наука где вы сразу же увидите результат своих трудов так как это не полноценное программирование люди создающие сайты всегда работают в связке с носителями
                других языков программирования их еще называют backend- разработчиками а те кто создают сайты называют Frontend- разработчиками.
                На фронте в основном создается сайты то есть то что видит пользователь любой сайт или соц сеть, все что вы видите когда заходите на них это плод трудов фронтенд разработчика.
                Они делают Красивую картинку или приятный интерфейс управления для служб серверов или программ у данного языка нет логики по этому его и сложно назвать языком программирования.
                Но если вы стремитесь зарабатывать и как можно скорее то этот путь для вас.

            <br>
                <h5>В конце могу добавить что нет плохих языков так как каждый работает в своей сфере. Вы можете учить их все но тут лучше выучить один язык поработать на нем хотя бы 3 года и закрепить и только потом приступать
        к изучению следующего языка. Так же знаю все языки вы будете универсальны но только поверхностно и при встрече с более глубокими проблемами с такими знаниями вы можете и не справится. По этому повторюсь с начало выучите что то одно
        закрепите его и продолжайте движение дальше. Вы все равно время от времени будете сталкиваться с другими языками и понемногу знания из них все ровно будет</h5>
            </p>
        </li>
    </ol>
</div>
</body>
</html>