<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title> Ответ по алгоритмам </title>
    <link rel="stylesheet" th:href="@{../style/style.css}">
</head>
<body>
<div class="header">
    <h1> Алгоритмы и их виды с которых стоит начать </h1>
    <div class="header_content">
        <p>Описание и приведение примера Алгоритмам по первому заданию.
            <br>
            Как говорилось выше для начала нужно знать три вида алгоритмов.
            <br>
            Давайте разбираться:
        </p>
    </div>
</div>
<div >
    <ol>
        <li>Линейный Алгоритм</li>
        <li>Ветвистый Алгоритм </li>
        <li>Цикличный Алгоритм</li>
        <li>Как их использовать и что с ними делать</li>
    </ol>
    <p>
        Поскольку вы видите данную страничку значит вы прошли мой не большой квест для получение данного ответа.
        Давайте на его примере и разберем что же такое алгоритмы.
        <br>
        1. Первый Алгоритм  это Линейный Алгоритм в котором все происходит последовательно и прямя
        если его описывать в общих чертах, то вы выполнили всего несколько операций а именно.
        Вы зашли по ссылке что бы получить ответ, решили логическую задачу, получили доступ к данной странице то есть получили ответ.
        Вроде ничего сложного, в общем вы выполнили всего три действия это и есть пример линейного алгоритма.
        <br>
        Графически он выглядит вот так:
    </p>
    <img  src="../media/img/slide-1.jpg" alt="Пример линейного алгоритма">
    <p>
       2. Ветвистый Алгоритм это по сути алгоритм выбора. Везде где вам нужно было выбирать тот или иной результат,
        но от выбора зависит конечный результат. Как пример возьмем обратно нашу головоломку, где вас часто приходилось
         выбирать кого отправить " если я оставлю козу с волком то волк ее съест" или "если вы отправляли пастуха одного в лодке.
        Это и есть тот самый выбор где последовательно выставляя ветвистые алгоритмы вы и прошли игру. Вы думали  а что будет если я оставлю
        волка с капустой ведь волк это хищник и он не есть овощи.
        <br> Если проще говоря то Ветвисты Алгоритм это выбор действия который ведет к конечному результату. Если брать еще проще пример.
        То он будет выглядеть вот так. Утром вы проснулись и захотели пить но что вы будете пить это у же зависит от вашего выбора.
        Будь то чай или кофе а может быть это будет простая вода результат все равно один вы утолили жажду меняется лишь средство при помощи которого вы это сделали.
        <br>
        Графически ветвистый алгоритм выглядит вот так:
    </p>
    <img  src="../media/img/img12.jpg" alt="пример ветвистого алгоритма">
    <p>
       3. Цикличный Алгоритм это алгоритм повторяющихся действий. Из примера логической задачи мы можем выделить постоянные
        повторения. Мы постоянно кого то выбирали и перетаскивали то туда то сюда или того что лодка постоянно передвигалась то
         на один берег то на другой. Или если вы начинали задачку с начала и приходилось опять все повторять снова и снова.
        То есть решая задачку мы постоянно совершали одни и те же действия. Давайте теперь попробуем найти примеры циклов в реальной жизни.
        Это каждый день идет день, из года в год идет год, каждое утро мы просыпаемся. Циклы нас окружают и присутствуют везде и всегда что бы мы не делали.
        Если так подумать с одной стороны это даже страшно и без смылено. Но циклы помогают продолжить наши действия или усовершенствовать то что мы делали и как
        то изменить что то. В дальнейшем вы часто будете их использовать и то как они работают это наверное будет для вас один из самых сложных тем но это
        только на начале потом вы их будете щелкать только так и наверное так же как и я будете их не любить.
        Пример циклических алгоритмов выглядит вот так:
    </p>
    <img  src="../media/img/img13.jpg" alt="пример циклического алгоритма">
    <p>
        4. Теперь когда мы разобрались с алгоритмами давайте теперь разберемся как их можно будет использовать.
        Сами эти три вида могут существовать отдельно друг от друга но и при этом они могут быть в составе любого из них
        цикл может быть в составе линейного алгоритма как пример: Начать логическую задачу -> решить логическую задачу -> Получить ответ.
        но внутри этого линейного алгоритма был и цикл где вы повторяли одни и те же действия пытаясь решить или пробовали варианты.
        там были и ветвистые где вы делали выбор что вам делать.
        <br>
        Или вот еще пример: Вы решили попить у вас выбор что пить чай или воду. Если вы выбрали чай то вам нужно добавить сахар и мешать его до тех пор пока чай
        не станет сладким или если вы выбрали воду то просто взяли и выпили воду без каких либо добавок.
        <br>
        Это я к чему их можно комбинировать и отделать. Смешивать и разделять, вести от одного к другому. И все на что у вас хватит фантазии.
        <br>
        я надеюсь данная статья помогла вам разобраться в данных типах алгоритмов теперь можно продолжать путь далье ссылка в низу.
    </p>
    <a href="begin">Вернуться к уроку что нужно для того что бы стать программистом</a>
</div>

<div class="footer"/>

</body>
</html>