
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${main}"></title>
    <link rel="stylesheet" th:href="@{../style/style.css}">
</head>
<body>

<div class="header">
    <h1> Черновик программиста </h1>
    <div class="header_content">
        <p>В данном проекте я собрал наработки по обучению программированию а так же те материалы которые пригодились мне во время обучения программированию.
            <br>
            Это мой черновик где вы возможно найдете те матерьялы для написания или приемы которые использую я <span class="annotation">
                (Они могут быть костыльными так как на момент написания проекта я еще
            учусь и они могут быть не универсальными но это поможет вам в будущем разобраться)</span>
            <br>
            Тут я буду собирать материалы по языкам которые собираюсь учить и добавляться они будут по мере обновления информации.
            Постараюсь все описать достаточно понятно и подробно.
        </p>
    </div>
</div>
<div class="content">
    <ul>
        <li><a href="begin">Что нужно знать будущему программисту</a>
            Данная статья предназначена тем кто не знает с чего начать и как быть
        </li>
        <br>
        <li><a href="">Работа с удаленным хранилищем GitHube.com </a>
            <span class="annotation"> (пока в разработке!!!)</span>
         Учимся работать с удаленным хранилищем (Так же нужен для продолжения обучению по материалам данного сайта!!!)
        </li>
        <br>
        <li><a href="">Работа с языком программирования Java</a>
            <span class="annotation"> (пока в разработке!!!)</span>
        Данный раздел нужен будет тем кто хочет заняться программированию на питоне и машинному обучению
        </li>
        <br>
        <li><a href="">Работа с Версткой и созданием HTML страниц</a>
            <span class="annotation"> (пока в разработке!!!)</span>
            Данный раздел нужен тем кто хочет научится писать сайты
        </li>

    </ul>
</div>
<div class="footer"/>
</body>
</html>