
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${main}"></title>
    <link rel="stylesheet" th:href="@{style/style.css}">
</head>
<body>

<div class="header">
    <h1> Черновик программиста </h1>
    <div class="header_content">
        <p>В данном роекте я собрал нароботки по обучению программированию а так же тех мотериалов которые пригодились мне во врея обучения программированию.
            <br>
            Это мой черновик где вы возможно найдете те матерьялы для написания или приемы которые использую я <span class="annotation">(Они могут быть костыльными так как на момент написания проекта я еще
            учусь и они могут быть не уневирсалными но это поможет вам в будущем разобратся)</span>
            <br>
            Тут я буду собирать материалы по языкам которые собираюсь учить и добовлятся они будут по мере обновления информации.
            Постораюсь все описать достаточно понятно и подробно.
        </p>
    </div>
</div>
<div class="content">
    <ul>
        <li><a href="begin">Что нужно знать будущему программисту</a>
            Данная статья преднозначена тем кто не знает с чего начать и как быть
        </li>
        <br>
        <li><a href="">Работа с удоленым хронилещем GitHube.com </a>
         В данный раздел нужен тем кто будет учится по матерьялам с этого сайта (перед тем как начать учится лучше посмотреть данную статью (урок) по работе с GitHub
        </li>
        <br>
        <li><a href="">Работа с языком программирования Java</a>
        Учимся программировать с нуля
        </li>
        <br>
        <li><a href="">Работа с Версткой и создданием HTML страниц</a></li>

    </ul>
</div>

</body>
</html>